

/*Variables*/
:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #ffffff;
}
main{
    background-color: var(--background-color);
    color: var(--primary-text-color);
}
/*header*/
.nav-list{
    list-style: none;
}
.logo {
    color: #2196F3;
}
.site-nav .link{
    color: #212121;
}
.site-nav .link:hover, .site-nav .link:focus{
     color: #2196F3;
}
.site-nav .link.current {
    color: #2196F3
}
.lists{
    list-style: none;
}
.list-link{
    color: #757575;
}
.list-link:hover,.list-link:focus{
    color: #2196F3;
}
.hero .button-primary{
background-color: var(--accent-color);
color: #FEFEFE;
cursor: pointer;
}
.button-secondary:hover, .button-secondary:focus{
    background-color: var(--accent-color);
    color: #FEFEFE;
    cursor: pointer;

}

.hero{
    background-color: #2F303A;
}
.hero .title{
    color: #FEFEFE;
}
.title{
    color: var(--title-text-color);
}
.section-title{
    color: var(--title-text-color)
}
.subtitle{
    color: var(--title-text-color);
}
/*footer*/
.footer{
    background-color: #2F303A;
}
.link-place{
    color: var(--background-color);
}
.link-place:hover, .link-place:focus{
  color: var(--accent-color);
}
.link-adress{
    color: rgba(255, 255, 255, 0.6)
}
.link-adress:hover, .link-adress:focus{
    color: var(--accent-color);
}
.portfolio-title{
    color: var(--title-text-color)
}
.section{
    background-color: #F5F4FA;
}